
/*On the flex container*/
.flexrow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flexcolumn {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: column;
}

.flexcenter {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

body > header {
  background-image: linear-gradient(to right, #3C6C84, #3C6C84 30%, #3C6C84 30%) !important;
}

.header {
  background: #3C6C84 !important;
  margin-bottom: 0px !important;
  border: 0px !important;
}

.title {
  color: #ffffff !important;
}

body {
  background: #DEE0E3 !important;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

.icon-bar {
  width: 100%;
  font-size: 0;
  display: inline-block;
  background: #DEE0E3 !important;
}

.icon-bar > * label {
  color: #000000 !important;
}
